* {
    cursor: url('../../public/bubu.png'), auto;
}
  
html,
body {
    padding: 0;
    margin: 0;
    cursor: url('../../public/bubu.png'), auto;
    cursor: url('../../public/bubu.png'), text;
}

a, button {
    cursor: url('../../public/bubu.png'), pointer;
}