@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    cursor: url('../../public/bubu.png'), auto;
}
  
html,
body {
    padding: 0;
    margin: 0;
    cursor: url('../../public/bubu.png'), auto;
    cursor: url('../../public/bubu.png'), text;
    font-family: 'Press Start 2P';
}

a, button {
    cursor: url('../../public/bubu.png'), pointer;
}