@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.leaderboard {
  width: 33vw;
  height: 52vh; /* Max height, but will adjust for smaller screens */
  border: 1px solid #ddd;
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(4, 0, 255, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  overflow: hidden; /* Ensure content stays within the leaderboard */

  background-image: url('../../public/stala.png'); /* Replace with your image path */
  background-size: cover; /* Makes sure the image covers the entire background */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
}

.title {
  font-family: 'Press Start 2P';
  color: rgb(255, 255, 255);
  text-align: center;
  margin: 10px 0;
  font-size: 28px;
}

.scoreContainer {
  font-family: 'Ubuntu';
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex-grow: 1; /* Adjusts container size based on screen height */
}

.scoreItem {
  margin: 7px 0; /* Reduce margin for better fit */
  font-size: 16px;
  padding: 10px;
  border-radius: 16px;
  width: 80%;
  text-align: center;
}

.rank1 {
  background-color: rgb(255, 184, 5);
}

.rank2 {
  background-color: rgb(211,211,211);
}

.rank3 {
  background-color: #cd7f32;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px; /* Less space above the image for smaller screens */
}

.image {
  margin-bottom: 5vh;
  max-width: 120px; /* Adjust image size for smaller screens */
  height: auto;
}

@media (max-height: 600px) {
  .leaderboard {
    height: 70vh; /* Adjust for smaller screen heights */
    margin-top: 10vh;
  }

  .scoreItem {
    font-size: 14px; /* Smaller text for scores */
  }

  .image {
    max-width: 80px; /* Smaller image for smaller screens */
  }
}
